<app-navbar-color></app-navbar-color>
<header>
  <div class="header-container">
    <div class="header-overlay">
        <span class="etiqueta yellow">Innovación para tu empresa</span>
        <h1>Impulsa el crecimiento de tu empresa</h1>
        <p>Descubre cómo TECHCENTER y Microsoft te ayudan a superar los desafíos empresariales de un mundo en constante cambio.</p>
    </div>
  </div>
</header>
    <section class="section-container section-container--pt-80 derecha"> 
        <div class="section-header section-header--p-80 section-header--mw-600">
            <h2>ESPECIALISTAS EN SOLUCIONES MICROSOFT CLOUD</h2>
            <div class="card-information">
                <p>Somos la empresa líder en la provisión de servicios en la nube, especializada en soluciones de Microsoft Cloud. Con más de 13 años de experiencia en el sector, ayudamos a tu empresa a transformar sus operaciones y alcanzar nuevos niveles de eficiencia y productividad.<br><br>Gracias a nuestra alianza exclusiva con Microsoft, ofrecemos soluciones personalizadas que mejoran la agilidad, seguridad y escalabilidad de tu negocio. Con TECHCENTER y Microsoft, tus datos están siempre disponibles y la colaboración es más fluida que nunca.</p>
            </div>
            <div class="imagen-mascara">
                <img src="assets/img/soluciones/aplicaciones.jpg" alt="Aplicaciones Empresariales">
            </div>
        </div>
    </section>
    <section class="section-container section-container--pt-80 container-blue">
        <div class="section-header section-header--p-500">
            <div class="section-text text-flex">
                <img src="assets/img/iconos/comillas.png" alt="">
                <p>No es necesario reinventar la rueda. Hoy en día, contamos con una amplia gama de herramientas digitales que nos permiten alcanzar nuestros objetivos empresariales de manera eficiente y sin grandes inversiones de tiempo y dinero.</p>
            </div>
            <div class="section-footer">
                <div class="logo2">
                    <img src="assets/img/ceo.jpg" alt="">
                </div>
                <div class="texto">
                    <p class="nombre">JOSÉ LAVADO</p>
                    <p class="cargo">CEO de TECHCENTER</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-container section-container--pt-80">
        <div class="estadisticas">
            <div class="item">
                <div class="image-text">
                    <img src="assets/img/iconos/pastel.png" alt="Años de experiencia">
                    <h3>14+</h3>
                </div>
                <p>años de experiencia</p>
            </div>
            <div class="item">
                <div class="image-text">
                    <img src="assets/img/iconos/sonreir.png" alt="Casos de éxito">
                    <h3>150+</h3>
                </div>
                <p>casos de éxito</p>
            </div>
            <div class="item">
                <div class="image-text">
                    <img src="assets/img/iconos/nube.png" alt="Áreas de solución">
                    <h3>6</h3>
                </div>
                <p>áreas de solución</p>
            </div>
            <div class="item">
                <div class="image-text">
                    <img src="assets/img/iconos/medalla.png" alt="Microsoft Partner">
                    <h3>#1</h3>
                </div>
                <p>Microsoft Solutions Partner</p>
            </div>
        </div>  
    </section>
    <section class="section-container section-container--pt-80">
        <div class="section-header section-header--p-80">
            <div class="section-text-2">
                <div class="text-left">
                <h4>Qué hacemos</h4>
                <h2>Soluciones empresariales mediante la tecnología de nube de Microsoft</h2>
                </div>
                <div class="divider"></div>
                <div class="text-right">
                <p>Las soluciones de Trabajo Moderno combinan las mejores prácticas y tecnologías de Microsoft Cloud para crear un entorno de trabajo flexible y productivo. No solo se trata de implementar nuevas tecnologías, sino de transformar la cultura laboral de tu empresa. Al fomentar una mentalidad de flexibilidad y adaptación, puedes crear un entorno donde los colaboradores se sientan empoderados y motivados para dar lo mejor de sí mismos.</p>
                </div>
            </div>
        </div>
        <div class="section-grid grid-3">
            <div class="card">
                <img src="assets/img/iconos/trabajo.png" alt="">
                <h3>Consultoría personalizada</h3>
                <p>Analizamos las necesidades específicas de tu negocio y diseñamos una estrategia de implementación a medida.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/innovacion.png" alt="">
                <h3>Implementación y migración</h3>
                <p>Nos encargamos de la configuración y migración de tus sistemas actuales a la nube de Microsoft, asegurando una transición sin problemas.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/infraestructura.png" alt="">
                <h3>Capacitación y soporte</h3>
                <p>Tenemos programas de entrenamiento para tu equipo y soporte continuo para resolver cualquier duda o problema que pueda surgir.</p>
            </div>
        </div>
    </section>
    <section class="section-container section-container--pt-8">
        <div class="section-header-clientes section-header--p-80">
            <div class="experiencia-icon">
            <img src="assets/img/formas/forma-2.png" class="custom custom-back" alt="">
            <img src="assets/img/section-clients.png" class="custom-shape custom-front" alt="">
            </div>
            <div class="section-text">
            <h3>Nuestros Clientes</h3>
            <p>Nos enorgullece seguir ayudando a impulsar la transformación digital e innovación de numerosas empresas a nivel nacional e internacional en diversos sectores empresariales como: Finanzas, Minería, Transporte, Tecnología de la Información y Comunicaciones, Educación, Industria, Comercio, Servicios, Gobierno, entre otros.</p>
            </div>
        </div>
        <div class="section-grid grid-3">
            <div class="card">
                <div class="card-calificacion">
                <img src="assets/img/formas/stars.png" alt="">
                </div>
                <div class="card-text">
                <p>"Facilitamos la transición de tus aplicaciones y datos a la nube de Microsoft de manera segura y eficiente, minimizando cualquier interrupción en tus operaciones."</p>
                </div>
                <div class="card-footer">
                <div class="logo">
                    <img src="assets/img/marcas/danper.png" alt="">
                </div>
                <div class="texto">
                    <h3>RAUL SALDAÑA</h3>
                    <p>Gerente de TI - DANPER</p>
                </div>

                </div>
            </div>
            <div class="card">
                <div class="card-calificacion">
                <img src="assets/img/formas/stars.png" alt="">
                </div>
                <div class="card-text">
                <p>"TECHCENTER optimizó nuestra productividad con Office 365, mejorando la seguridad de la información y facilitando el acceso y colaboración eficiente en toda la empresa."</p>
                </div>
                <div class="card-footer">
                <div class="logo">
                    <img src="assets/img/marcas/farmimport.png" alt="">
                </div>
                <div class="texto">
                    <h3>SERGIO MORALES</h3>
                    <p>Director - FARM IMPORT</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-calificacion">
                <img src="assets/img/formas/stars.png" alt="">
                </div>
                <div class="card-text">
                <p>"TECHCENTER ha entendido nuestras necesidades únicas desde el inicio, facilitando un flujo de información ágil y decisiones mejor informadas en nuestra empresa."</p>
                </div>
                <div class="card-footer">
                <div class="logo">
                    <img src="assets/img/marcas/etral.png" alt="">
                </div>
                <div class="texto">
                    <h3>RAUL SALDAÑA</h3>
                    <p>Gerente General - ETRAL</p>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-container section-container--pt-20">
        <div class="section-header section-header--p-0">
            <div class="section-text centered">
                <h3>Preguntas frecuentes</h3>
                <p>Encuentra respuestas a las preguntas más frecuentes sobre nuestras soluciones.</p>
            </div>
        </div>
        <div class="section-grid centered">
            <div class="faq-columns">
                <div class="faq-column">
                    <details>
                    <summary>¿Qué es el Trabajo Moderno con Microsoft Cloud?</summary>
                    <p>El Trabajo Moderno con Microsoft Cloud se refiere a la adopción de herramientas y tecnologías que permiten a los colaboradores trabajar de manera más eficiente y colaborativa, sin importar dónde se encuentren. Utilizando soluciones como Microsoft 365, Teams y OneDrive, las empresas pueden mejorar la productividad, la comunicación y la seguridad de sus datos.</p>
                    </details>

                    <details>
                    <summary>¿Cómo puede Microsoft Teams mejorar la colaboración en mi empresa?</summary>
                    <p>Microsoft Teams es una plataforma de colaboración que permite a los equipos comunicarse y trabajar juntos en tiempo real. Ofrece chat, videollamadas, reuniones en línea, y la integración con otras aplicaciones de Microsoft 365. Esto facilita la colaboración, reduce la necesidad de correos electrónicos y reuniones presenciales, y permite a los equipos ser más ágiles y productivos.</p>
                    </details>
                </div>

                <div class="faq-column">
                    <details>
                    <summary>¿Qué beneficios ofrece Microsoft 365 para el trabajo remoto?</summary>
                    <p>Microsoft 365 proporciona una suite completa de herramientas que permiten el trabajo remoto eficiente. Incluye aplicaciones como Word, Excel, PowerPoint y Outlook, accesibles desde cualquier dispositivo con conexión a internet. Además, ofrece almacenamiento en la nube con OneDrive, lo que facilita el acceso y la compartición de documentos de manera segura. La integración con Microsoft Teams también permite una comunicación y colaboración fluidas.</p>
                    </details>

                    <details>
                    <summary>¿Cómo garantiza Microsoft Cloud la seguridad de los datos de mi empresa?</summary>
                    <p>Microsoft Cloud implementa múltiples capas de seguridad para proteger los datos de tu empresa. Esto incluye cifrado de datos, autenticación multifactor, y monitoreo continuo de amenazas. Además, Microsoft cumple con estándares y regulaciones internacionales de seguridad y privacidad, asegurando que tus datos estén protegidos contra accesos no autorizados y ciberataques.</p>
                    </details>

                    <details>
                    <summary>¿Cómo puede TECHCENTER ayudar a mi empresa a implementar soluciones de Trabajo Moderno?</summary>
                    <p>En TECHCENTER, ofrecemos servicios de consultoría y soporte para ayudarte a implementar y optimizar soluciones de Trabajo Moderno con Microsoft Cloud. Nuestro equipo de expertos trabaja contigo para entender tus necesidades específicas y desarrollar una estrategia personalizada. Te asistimos en la configuración, migración y capacitación, asegurando una transición fluida y efectiva hacia un entorno de trabajo más moderno y colaborativo.</p>
                    </details>
                </div>
            </div>
        </div>
    </section>

 <app-footer></app-footer>
