<app-navbar-color></app-navbar-color>
<header>
  <div class="header-container">
    <div class="header-overlay">
        <span class="etiqueta yellow">Innovación para tu empresa</span>
        <h1>Trabajo Moderno</h1>
        <p>Permite que los miembros de tu equipo se concentren, desarrollen, compartan y protejan sus ideas más importantes para que puedan tener el mayor impacto posible desde cualquier lugar y en cualquier dispositivo.</p>
    </div>
  </div>
</header>
<div class="section-wrapper">
    <section class="section-container section-container--pt-80 derecha"> 
        <div class="section-header section-header--p-80 section-header--mw-600">
            <div class="circle-line green"></div>
            <span class="etiqueta yellow">Desafío Empresarial</span>
            <p>En un mundo donde el trabajo remoto y la colaboración digital se han convertido en la norma, es crucial contar con una infraestructura tecnológica que soporte estas nuevas formas de trabajar.<br><br>En TECHCENTER, entendemos que el entorno laboral está en constante evolución. Por tal motivo, las soluciones de Trabajo moderno están diseñadas para ayudar a tu empresa a adaptarse y prosperar en la era digital.<br><br>Utilizando la tecnología de Microsoft Cloud, ofrecemos herramientas y servicios que permiten a tu equipo trabajar de manera más eficiente, colaborativa y segura, sin importar dónde se encuentren.</p>
            <button>Vamos trabajando juntos</button>
            <div class="icon-green"></div>
            <div class="icon"></div>
            <div class="custom-shape custom-front-2">
                <img src="assets/img/soluciones/aplicaciones.jpg" alt="Aplicaciones Empresariales">
            </div>
        </div>
    </section>
    <section class="section-container section-container--pt-80">
        <div class="section-header section-header--p-80">
            <!-- <div class="icon">
                <img src="assets/img/formas/forma-1.png" alt="">
            </div> -->
            <div class="section-text">
                <h4>Soluciones</h4>
                <h2>¿Cómo te ayudamos?</h2>
                <p>Las soluciones de Trabajo Moderno combinan las mejores prácticas y tecnologías de Microsoft Cloud para crear un entorno de trabajo flexible y productivo. No solo se trata de implementar nuevas tecnologías, sino de transformar la cultura laboral de tu empresa. Al fomentar una mentalidad de flexibilidad y adaptación, puedes crear un entorno donde los colaboradores se sientan empoderados y motivados para dar lo mejor de sí mismos.</p>
            </div>
        </div>
        <div class="section-grid grid-3">
            <div class="card">
                <img src="assets/img/iconos/trabajo.png" alt="">
                <h3>Consultoría personalizada</h3>
                <p>Analizamos las necesidades específicas de tu negocio y diseñamos una estrategia de implementación a medida.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/aplicaciones.png" alt="">
                <h3>Implementación y migración</h3>
                <p>Nos encargamos de la configuración y migración de tus sistemas actuales a la nube de Microsoft, asegurando una transición sin problemas.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/infraestructura.png" alt="">
                <h3>Capacitación y soporte</h3>
                <p>Tenemos programas de entrenamiento para tu equipo y soporte continuo para resolver cualquier duda o problema que pueda surgir.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/seguridad.png" alt="">
                <h3>Optimización continua</h3>
                <p>Evaluamos y mejoramos constantemente las soluciones implementadas para asegurar que siempre estén alineadas con los objetivos de tu negocio.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/innovacion.png" alt="">
                <h3>Integración de aplicaciones</h3>
                <p>Integramos tus aplicaciones existentes con las soluciones de Microsoft Cloud para crear un ecosistema de trabajo unificado y eficiente.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/datos.png" alt="">
                <h3>Desarrollo de soluciones personalizadas</h3>
                <p>Desarrollamos aplicaciones y herramientas a medida para satisfacer las necesidades específicas de tu empresa.</p>
            </div>
        </div>
    </section>
    <section class="section-container">
        <div class="section-header--p-80 section-header-flex">
            <div class="section-text container">
                <h4>Beneficios</h4>
                <h2>¿Por qué elegir a TECHCENTER?</h2>
                <p>En TECHCENTER, no solo implementamos soluciones tecnológicas, sino que también te acompañamos en cada paso del proceso, asegurándonos de que obtengas el máximo beneficio de las aplicaciones de Microsoft. Nuestro equipo de expertos está comprometido con tu éxito y trabaja contigo para adaptar nuestras soluciones a tus necesidades específicas.</p>
            </div>
            <div class="card-column">
                <div class="card-pair">
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Flexibilidad</h3>
                        <p>Permite a tus colaboradores trabajar desde cualquier lugar...</p>
                    </div>
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Innovación</h3>
                        <p>Aprovecha las últimas tecnologías y actualizaciones...</p>
                    </div>
                </div>
                <div class="card-pair">
                    <div class="section-card">
                        <div class="icono">🛠️</div>
                        <h3 class="black">Seguridad</h3>
                        <p>Protege los datos y la privacidad de tu empresa...</p>
                    </div>
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Escalabilidad</h3>
                        <p>Adapta las soluciones a las necesidades cambiantes...</p>
                    </div>
                </div>
                <div class="card-pair">
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Colaboración</h3>
                        <p>Mejora la comunicación y el trabajo en equipo...</p>
                    </div>
                    <div class="section-card">
                        <div class="icono">🛠️</div>
                        <h3 class="black">Reducción de costos</h3>
                        <p>Optimiza los recursos y reduce los gastos operativos...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="linea-decorativa-total">
        <div class="segment gradient"></div>
        <div class="segment gradient-blue"></div>
    </div>
</div>

