<app-navbar-color></app-navbar-color>
<header>
  <div class="header-container">
    <div class="header-overlay">
        <span class="etiqueta yellow">Innovación para tu empresa</span>
        <h1>Trabajo Moderno</h1>
        <p>Permite que los miembros de tu equipo se concentren, desarrollen, compartan y protejan sus ideas más importantes para que puedan tener el mayor impacto posible desde cualquier lugar y en cualquier dispositivo.</p>
    </div>
  </div>
</header>
<div class="section-wrapper">
    <section class="section-container section-container--pt-80 derecha"> 
        <div class="section-header section-header--p-80 section-header--mw-600">
            <div class="circle-line green"></div>
            <span class="etiqueta yellow">Desafío Empresarial</span>
            <p>En un mundo donde el trabajo remoto y la colaboración digital se han convertido en la norma, es crucial contar con una infraestructura tecnológica que soporte estas nuevas formas de trabajar.<br><br>En TECHCENTER, entendemos que el entorno laboral está en constante evolución. Por tal motivo, las soluciones de Trabajo moderno están diseñadas para ayudar a tu empresa a adaptarse y prosperar en la era digital.<br><br>Utilizando la tecnología de Microsoft Cloud, ofrecemos herramientas y servicios que permiten a tu equipo trabajar de manera más eficiente, colaborativa y segura, sin importar dónde se encuentren.</p>
            <button>Vamos trabajando juntos</button>
            <div class="icon-green"></div>
            <div class="icon"></div>
            <div class="custom-shape custom-front-2">
                <img src="assets/img/soluciones/aplicaciones.jpg" alt="Aplicaciones Empresariales">
            </div>
        </div>
    </section>
    <section class="section-container section-container--pt-80">
        <div class="section-header section-header--p-80">
            <!-- <div class="icon">
                <img src="assets/img/formas/forma-1.png" alt="">
            </div> -->
            <div class="section-text">
                <h4>Soluciones</h4>
                <h2>¿Cómo te ayudamos?</h2>
                <p>Las soluciones de Trabajo Moderno combinan las mejores prácticas y tecnologías de Microsoft Cloud para crear un entorno de trabajo flexible y productivo. No solo se trata de implementar nuevas tecnologías, sino de transformar la cultura laboral de tu empresa. Al fomentar una mentalidad de flexibilidad y adaptación, puedes crear un entorno donde los colaboradores se sientan empoderados y motivados para dar lo mejor de sí mismos.</p>
            </div>
        </div>
        <div class="section-grid grid-3">
            <div class="card">
                <img src="assets/img/iconos/trabajo.png" alt="">
                <h3>Consultoría personalizada</h3>
                <p>Analizamos las necesidades específicas de tu negocio y diseñamos una estrategia de implementación a medida.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/aplicaciones.png" alt="">
                <h3>Implementación y migración</h3>
                <p>Nos encargamos de la configuración y migración de tus sistemas actuales a la nube de Microsoft, asegurando una transición sin problemas.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/infraestructura.png" alt="">
                <h3>Capacitación y soporte</h3>
                <p>Tenemos programas de entrenamiento para tu equipo y soporte continuo para resolver cualquier duda o problema que pueda surgir.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/seguridad.png" alt="">
                <h3>Optimización continua</h3>
                <p>Evaluamos y mejoramos constantemente las soluciones implementadas para asegurar que siempre estén alineadas con los objetivos de tu negocio.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/innovacion.png" alt="">
                <h3>Integración de aplicaciones</h3>
                <p>Integramos tus aplicaciones existentes con las soluciones de Microsoft Cloud para crear un ecosistema de trabajo unificado y eficiente.</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/datos.png" alt="">
                <h3>Desarrollo de soluciones personalizadas</h3>
                <p>Desarrollamos aplicaciones y herramientas a medida para satisfacer las necesidades específicas de tu empresa.</p>
            </div>
        </div>
    </section>
    <section class="section-container">
        <div class="section-header--p-80 section-header-flex">
            <div class="section-text container">
                <h4>Beneficios</h4>
                <h2>¿Por qué elegir a TECHCENTER?</h2>
                <p>En TECHCENTER, no solo implementamos soluciones tecnológicas, sino que también te acompañamos en cada paso del proceso, asegurándonos de que obtengas el máximo beneficio de las aplicaciones de Microsoft. Nuestro equipo de expertos está comprometido con tu éxito y trabaja contigo para adaptar nuestras soluciones a tus necesidades específicas.</p>
            </div>
            <div class="card-column">
                <div class="card-pair">
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Flexibilidad</h3>
                        <p>Permite a tus colaboradores trabajar desde cualquier lugar, manteniendo la productividad y el compromiso.</p>
                    </div>
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Innovación</h3>
                        <p>Aprovecha las últimas tecnologías y actualizaciones de Microsoft para mantener a tu empresa a la vanguardia.</p>
                    </div>
                </div>
                <div class="card-pair">
                    <div class="section-card">
                        <div class="icono">🛠️</div>
                        <h3 class="black">Seguridad</h3>
                        <p>Protege los datos y la privacidad de tu empresa con las soluciones de seguridad de Microsoft.</p>
                    </div>
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Escalabilidad</h3>
                        <p>Adapta las soluciones a las necesidades cambiantes de tu empresa, sin importar su tamaño.</p>
                    </div>
                </div>
                <div class="card-pair">
                    <div class="section-card">
                        <div class="icono">💻</div>
                        <h3 class="black">Colaboración</h3>
                        <p>Mejora la comunicación y el trabajo en equipo con herramientas integradas y fáciles de usar.</p>
                    </div>
                    <div class="section-card">
                        <div class="icono">🛠️</div>
                        <h3 class="black">Reducción de costos</h3>
                        <p>Optimiza los recursos y reduce los gastos operativos mediante la automatización y la eficiencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-container section-container--pt-80">
        <div class="section-header section-header--p-80">
            <div class="section-text">
                <h3>¿Cuáles son las tecnologías que utilizamos?</h3>
                <p>Los productos de Microsoft Cloud son líderes del sector por sí solos, pero son aún más potentes cuando se utilizan juntos. Descubre cómo tu empresa puede acelerar su crecimiento combinando los productos de Microsoft.</p>
            </div>
        </div>
        <div class="section-grid grid-2">
            <div class="card new">
                <div class="card-media">
                    <img src="assets/img/blog/noticia1.png" alt="">
                </div>
                <div class="card-text">
                    <h3>Microsoft 365</h3>
                    <p>Conjunto de aplicaciones y servicios que facilitan la productividad y la colaboración. Incluye herramientas esenciales como Word, Excel, PowerPoint y Outlook, que permiten a los colaborades crear, editar y compartir documentos en tiempo real. Además, ofrece almacenamiento en la nube y capacidades de gestión de dispositivos, asegurando que tu equipo tenga acceso a la información que necesita, cuando la necesita.</p>
                </div>
            </div>
            <div class="card new">
                <div class="card-media">
                    <img src="assets/img/blog/noticia2.png" alt="">
                </div>
                <div class="card-text">
                    <h3>Microsoft Teams</h3>
                    <p>Plataforma de comunicación y colaboración que integra chat, videollamadas, reuniones y colaboración en documentos. Microsoft Teams permite a los equipos trabajar juntos de manera más eficiente, facilitando la comunicación instantánea y la colaboración en proyectos. Con características como canales de equipo, reuniones virtuales y la integración con otras aplicaciones, Teams se convierte en el centro de trabajo para tu organización.</p>
                </div>
            </div>
            <div class="card new">
                <div class="card-media">
                    <img src="assets/img/blog/noticia3.png" alt="">
                </div>
                <div class="card-text">
                    <h3>Windows 365</h3>
                    <p>Servicio de escritorio en la nube que permite acceder a tu entorno de trabajo desde cualquier dispositivo. Windows 365 ofrece una experiencia de escritorio completa y segura, accesible desde cualquier lugar con conexión a internet. Esto permite a los empleados trabajar de manera flexible y segura, sin importar dónde se encuentren, y facilita la gestión de dispositivos y aplicaciones por parte del departamento de TI.</p>
                </div>
            </div>
            <div class="card new">
                <div class="card-media">
                    <img src="assets/img/blog/noticia3.png" alt="">
                </div>
                <div class="card-text">
                    <h3>Microsoft Viva</h3>
                    <p>Plataforma de experiencia del colaborador que mejora la conexión, el bienestar y la productividad. Microsoft Viva integra comunicaciones, recursos, conocimientos y aprendizaje en el flujo de trabajo diario, ayudando a los empleados a mantenerse conectados y comprometidos. Con módulos como Viva Connections, Viva Insights, Viva Learning y Viva Topics, esta plataforma proporciona herramientas para mejorar la experiencia del colaborador y fomentar una cultura de aprendizaje y bienestar.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-container section-container--pt-20">
        <div class="section-header section-header--p-0">
            <div class="section-text centered">
                <h3>Preguntas frecuentes</h3>
                <p>Encuentra respuestas a las preguntas más frecuentes sobre nuestras soluciones.</p>
            </div>
        </div>
        <div class="section-grid centered">
            <div class="faq-columns">
                <div class="faq-column">
                    <details>
                    <summary>¿Qué es la transformación digital y por qué es importante para mi empresa?</summary>
                    <p>La transformación digital implica la integración de tecnologías digitales en todas las áreas de tu negocio, cambiando fundamentalmente cómo operas y entregas valor a los clientes. Es importante porque mejora la eficiencia operativa, reduce costos, y permite una mejor toma de decisiones basada en datos. Además, te ayuda a adaptarte rápidamente a los cambios del mercado y a mantener una ventaja competitiva.</p>
                    </details>

                    <details>
                    <summary>¿Cómo puede TECHCENTER ayudar a mi empresa con la transformación digital?</summary>
                    <p>En TECHCENTER, ofrecemos servicios de consultoría personalizados para guiar a tu empresa en su viaje de transformación digital. Utilizamos tecnologías avanzadas de Microsoft Cloud para optimizar tus procesos, mejorar la experiencia del cliente y fomentar la innovación. Nuestro equipo de expertos trabaja contigo para desarrollar e implementar estrategias que impulsen el crecimiento y la eficiencia de tu negocio.</p>
                    </details>
                </div>

                <div class="faq-column">
                    <details>
                    <summary>¿Qué beneficios ofrece Microsoft Cloud para mi empresa?</summary>
                    <p>Microsoft Cloud ofrece una amplia gama de beneficios, incluyendo escalabilidad, seguridad avanzada, y acceso a herramientas de análisis de datos y colaboración. Estas características permiten a tu empresa operar de manera más eficiente, proteger datos sensibles y tomar decisiones informadas. Además, la flexibilidad de Microsoft Cloud facilita la adaptación a las necesidades cambiantes del negocio.</p>
                    </details>

                    <details>
                    <summary>¿Cómo se mide el éxito de un proyecto de transformación digital?</summary>
                    <p>El éxito de un proyecto de transformación digital se mide mediante varios indicadores clave de rendimiento (KPIs), como la mejora en la eficiencia operativa, la reducción de costos, el aumento de la satisfacción del cliente y el crecimiento de los ingresos. En TECHCENTER, trabajamos contigo para definir estos KPIs desde el inicio y monitoreamos continuamente el progreso para asegurar que se alcancen los objetivos establecidos.</p>
                    </details>

                    <details>
                    <summary>¿Qué industrias pueden beneficiarse de los servicios de TECHCENTER?</summary>
                    <p>Los servicios de TECHCENTER son beneficiosos para una amplia variedad de industrias, incluyendo salud, finanzas, manufactura, retail y más. Cada industria enfrenta desafíos únicos, y nuestras soluciones personalizadas están diseñadas para abordar las necesidades específicas de cada sector, ayudando a las empresas a innovar y crecer en un entorno competitivo.</p>
                    </details>
                </div>
            </div>
        </div>
    </section>
    <div class="linea-decorativa-total">
        <div class="segment gradient"></div>
        <div class="segment gradient-blue"></div>
    </div>
</div>
 <app-footer></app-footer>
