<app-navbar-color></app-navbar-color>
<div class="main-container"> <!-- Contenedor principal -->
    <section class="section-container section-container--pt-80 derecha"> 
        <div class="section-header section-header--p-80 section-header--mw-600">
            <h4>TRANSFORMAMOS TUS IDEAS EN REALIDAD</h4>
            <h3>NO DUDES EN CONTACTARNOS</h3>
            <div class="card-information">
                <p>Comunícate con nosotros hoy mismo y descubre cómo TECHCENTER y Microsoft llevan tu empresa al siguiente nivel.</p>
            </div>
        </div>
    </section>

    <section class="section-container section-container--pt-80 derecha">
        <div class="section-header section-header--p-80 section-header--mw-600">
            <div class="informacion">
                <div class="wsp">
                    <p class="sub"><img src="assets/img/redes/whatsapp_color.png" alt="Whatsapp"> CHATEA POR WHATSAPP</p>
                    <p class="inf">+51 950963 557</p>
                </div>
                <div class="email">
                    <p class="sub"><img src="assets/img/iconos/correo.png" alt="Correo"> ENVÍA UN CORREO</p>
                    <p class="inf">hola&#64;techcenterperu.com</p>
                </div>
                <div class="redes">
                    <h2>Sigue a &#64;techcenterperu</h2>
                    <div class="imagenes">
                        <a href="https://www.facebook.com/TECHCENTERPERU" target="_blank"><img src="assets/img/redes/facebook_color.png" alt="Facebook" width="30" height="30"></a>
                        <a href="https://www.instagram.com/techcenterperu/" target="_blank"><img src="assets/img/redes/instagram_color.png" alt="Instagram" width="30" height="30"></a>
                        <a href="https://www.linkedin.com/company/techcenterperu/" target="_blank"><img src="assets/img/redes/linkedin_color.png" alt="Linkedin" width="30" height="30"></a>
                        <a href="https://www.tiktok.com/@techcenterperu.com" target="_blank"><img src="assets/img/redes/tiktok_color.png" alt="Tiktok" width="30" height="30"></a>
                        <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftechcenterperu" target="_blank"><img src="assets/img/redes/twitter_color.png" alt="Twitter" width="30" height="30"></a>
                        <a href="https://www.youtube.com/@techcenterperu" target="_blank"><img src="assets/img/redes/youtube_color.png" alt="Youtube" width="30" height="30"></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>