<app-navbar-color></app-navbar-color>
<header>
    <h1 class="title">HOLA!</h1>
    <h2 class="subtitle">Estamos aquí para ayudarte a transformar tu empresa.</h2>
</header>
<div class="main-container"> <!-- Contenedor principal -->
    <section class="section-container section-container--pt-80 derecha"> 
        <div class="section-header section-header--p-80 section-header--mw-600">
            <h3>NO DUDES EN CONTACTARNOS</h3>
            <div class="card-information">
                <p>Comunícate con nosotros hoy mismo y descubre cómo TECHCENTER y Microsoft llevan tu empresa al siguiente nivel.</p>
            </div>
        </div>
        <div class="section-grid grid-2">
            <div class="card">
                <img src="assets/img/redes/whatsapp_color.png" alt="">
                <h3>Chatea por WhatsAppp</h3>
                <p>+51 950 963 557</p>
            </div>
            <div class="card">
                <img src="assets/img/iconos/correo.png" alt="">
                <h3>Envía un correo</h3>
                <p>hola&#64;techcenterperu.com</p>
            </div>
        </div>
    </section>

    <section class="section-container section-container--pt-80 derecha">
        <div class="section-header section-header--p-80 section-header--mw-600">
            <h3>SIGUE A &#64;TECHCENTERPERU</h3>
            <div class="section-grid grid-3">
                <img src="assets/img/redes/facebook_color.png" alt="">
                <img src="assets/img/redes/instagram_color.png" alt="">
                <img src="assets/img/redes/linkedin_color.png" alt="">
                <img src="assets/img/redes/twitter_color.png" alt="">
                <img src="assets/img/redes/youtube_color.png" alt="">
                <img src="assets/img/redes/tiktok_color.png" alt="">
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>