<app-navbar-color></app-navbar-color>

<header>
  <div class="header-container">
    <div class="header-overlay">
        <span class="etiqueta yellow">Soluciones</span>
        <h1>Qué hacemos</h1>
        <p>Ayudamos a tu empresa a alcanzar su máximo potencial mediante la plataforma de nube de Microsoft</p>
    </div>
  </div>
</header>
<div class="section-wrapper">
    <section class="section-container section-container--pt-20"> 

            <div class="section-header section-header--p-80">
                <div class="icon-line"></div>
                <span class="etiqueta yellow">NUESTRAS SOLUCIONES</span>

                <h2>Microsoft Cloud para tu empresa</h2>
                <p>
                    Descubre cómo nuestras soluciones basadas en la nube combinan la amplitud de Microsoft Cloud con nuevas capacidades personalizadas y diferenciadas únicas para tu empresa.
                </p>

                <div class="section-grid grid-2">
                    <a [routerLink]="'/soluciones-microsoft-cloud/trabajo-moderno-soluciones-microsoft-cloud'" class="card-link">
                        <div class="card">
                            <h3 class="color-blue">Trabajo Moderno</h3>
                        </div>
                    </a>
                    <a [routerLink]="'/soluciones-microsoft-cloud/infraestructura-microsoft-cloud'" class="card-link">
                        <div class="card">
                            <h3 class="color-green">Infraestructura</h3>
                        </div>
                    </a>
                    <a [routerLink]="'/soluciones-microsoft-cloud/aplicaciones-empresariales'" class="card-link">
                        <div class="card">
                            <h3 class="color-blue">Aplicaciones Empresariales</h3>
                        </div>
                    </a>
                    <div class="card">
                        <h3 class="color-green">Seguridad</h3>
                    </div>
                </div>
            </div>
    </section>

    <section class="servicios-section">
        <div class="contenido-enfoque">
            <span class="etiqueta white">NUESTRAS SOLUCIONES</span>
            <h3>Transformación. Innovación. Tecnología.</h3>
            <p>Descubre cómo aseguramos que cada implementación sea exitosa y se adapte a las necesidades específicas de tu empresa.</p>
            <div class="servicios-container">
                <div class="circle-line circle-white"></div>
                <div class="servicio-card">
                <div class="icono">
                    <img src="assets/img/iconos/asesoria.png" alt="Asesoria icono">
                </div>
                <h3 class="black">Asesoría y consultoría</h3>
                <p>Te ayudamos a desarrollar estrategias que pongan a tu empresa en el camino correcto desde el primer día en la nube de Microsoft.</p>
                </div>

                <div class="servicio-card">
                <div class="icono">
                    <img src="assets/img/iconos/migracion.png" alt="Migracion icono">
                </div>
                <h3 class="black">Servicios profesionales</h3>
                <p>Diseñamos e implementamos una solución que garantice que estás aprovechando al máximo la nube de Microsoft.</p>
                </div>

                <div class="servicio-card">
                <div class="icono">
                    <img src="assets/img/iconos/servicios.png" alt="Servicios icono">
                </div>
                <h3 class="black">Servicios gestionados</h3>
                <p>Administramos, operamos y optimizamos las incidencias diarias de tu ambiente en la nube de Microsoft.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-container section-container--pt-80 izquierda"> 
            <div class="section-header section-header--p-80">
                <div class="circle-line green"></div>
                <div class="izquierda_2">
                    <div class="etiqueta yellow">
                        <h2>TRABAJO MODERNO</h2>
                    </div>
                    <p>Permite que los miembros de tu equipo se concentren, desarrollen, compartan y protejan sus ideas más importantes para que puedan tener el mayor impacto posible desde cualquier lugar y en cualquier dispositivo.</p>
                    <button [routerLink]="'/soluciones-microsoft-cloud/trabajo-moderno-soluciones-microsoft-cloud'">Ver más</button>
                </div>
                
                <div class="icon-green"></div>
                <div class="icon"></div>
                <div class="custom-shape custom-front-2">
                    <img src="assets/img/soluciones/trabajo.jpg" alt="Trabajo Moderno">
                </div>
            </div>
    </section>
    <section class="section-container section-container--pt-80 derecha"> 
            <div class="section-header section-header--p-80">
                <div class="circle-line green"></div>
                <div class="etiqueta yellow">
                    <h2>APLICACIONES EMPRESARIALES</h2>
                </div>
                <p>Potencia las experiencias de tus clientes y la agilidad operativa de tu empresa con aplicaciones que unen a las personas, los conocimientos y los procesos en todas las líneas de negocio.</p>
                <button [routerLink]="'/soluciones-microsoft-cloud/aplicaciones-empresariales'">Ver más</button>
                <div class="icon-green"></div>
                <div class="icon"></div>
                <div class="custom-shape custom-front-2">
                    <img src="assets/img/soluciones/aplicaciones.jpg" alt="Aplicaciones Empresariales">
                </div>
            </div>
    </section>
    <section class="section-container section-container--pt-80 izquierda"> 
            <div class="section-header section-header--p-80">
                <div class="circle-line green"></div>
                <div class="izquierda_2">
                    <div class="etiqueta yellow">
                        <h2>INFRAESTRUCTURA</h2>
                    </div>
                    <p>Mejora la rentabilidad y reduce los costes de la infraestructura tecnológica de tu empresa. Construye, supervisa y administra tu infraestructura crítica utilizando la tecnología de Microsoft Cloud.</p>
                    <button [routerLink]="'/soluciones-microsoft-cloud/infraestructura-microsoft-cloud'">Ver más</button>
                </div>
                <div class="icon-green"></div>
                <div class="icon"></div>
                <div class="custom-shape custom-front-2">
                    <img src="assets/img/soluciones/infraestructura.jpg" alt="Infraestructura">
                </div>
            </div>
    </section>
    <section class="section-container section-container--pt-80 derecha"> 
            <div class="section-header section-header--p-80">
                <div class="circle-line green"></div>
                <div class="etiqueta yellow">
                    <h2>SEGURIDAD</h2>
                </div>
                <p>Protege y defiende tu empresa con soluciones de seguridad, cumplimiento, identidad y administración que funcionan en todas las plataformas, nubes y aplicaciones.</p>
                <div class="icon-green"></div>
                <div class="icon"></div>
                <div class="custom-shape custom-front-2">
                    <img src="assets/img/soluciones/seguridad.jpg" alt="Seguridad">
                </div>
            </div>
    </section>
    <section class="section-container section-container--pt-20">
        <div class="section-header section-header--p-0">
                <div class="icon-line"></div>
            <div class="section-text centered">
            <h3>Preguntas frecuentes</h3>
            <p>Encuentra respuestas a las preguntas más frecuentes sobre nuestras soluciones.</p>
            </div>
        </div>
            <div class="section-grid">
                <div class="faq-columns">
                <div class="faq-column">
                    <details>
                    <summary>¿Qué tipos de soluciones ofrece TECHCENTER?</summary>
                    <p>TECHCENTER ofrece soluciones integrales de transformación digital e innovación utilizando la tecnología Microsoft Cloud. Nuestras soluciones abarcan desde la modernización de la infraestructura y la implementación de aplicaciones empresariales hasta la optimización de procesos y la mejora de la colaboración y productividad mediante herramientas como Microsoft 365 y Azure.</p>
                    </details>

                    <details>
                    <summary>¿Cómo pueden las soluciones de TECHCENTER mejorar la eficiencia operativa de mi empresa?</summary>
                    <p>Nuestras soluciones están diseñadas para optimizar los procesos internos de tu empresa, reducir costos y mejorar la productividad. Utilizando tecnologías avanzadas de Microsoft Cloud, como Azure y Dynamics 365, podemos automatizar tareas repetitivas, mejorar la gestión de datos y facilitar la colaboración entre equipos, lo que resulta en una operación más eficiente y ágil.</p>
                    </details>
                </div>

                <div class="faq-column">
                    <details>
                    <summary>¿Qué beneficios ofrece la adopción de Microsoft 365 para mi empresa?</summary>
                    <p>Microsoft 365 proporciona una suite completa de herramientas de productividad y colaboración, incluyendo aplicaciones como Word, Excel, PowerPoint, Outlook y Teams. Estos servicios permiten a los empleados trabajar de manera más eficiente, colaborar en tiempo real y acceder a sus documentos desde cualquier lugar. Además, Microsoft 365 ofrece seguridad avanzada y almacenamiento en la nube, asegurando que tus datos estén protegidos y siempre disponibles.</p>
                    </details>

                    <details>
                    <summary>¿Cómo puede TECHCENTER ayudar a mi empresa a migrar a la nube?</summary>
                    <p>En TECHCENTER, ofrecemos servicios de migración a la nube que incluyen la planificación, ejecución y optimización del proceso. Nuestro equipo de expertos trabaja contigo para evaluar tus necesidades, diseñar una estrategia de migración personalizada y asegurar una transición fluida y segura a la nube. Nos encargamos de minimizar el tiempo de inactividad y maximizar los beneficios de la nube para tu negocio.</p>
                    </details>

                    <details>
                    <summary>¿Qué industrias pueden beneficiarse de las soluciones de TECHCENTER?</summary>
                    <p>Las soluciones de TECHCENTER son aplicables a una amplia variedad de industrias, incluyendo salud, finanzas, manufactura, retail, educación y más. Cada industria enfrenta desafíos únicos, y nuestras soluciones están diseñadas para abordar las necesidades específicas de cada sector, ayudando a las empresas a innovar, crecer y mantenerse competitivas en un entorno en constante cambio.</p>
                    </details>
                </div>
            </div>
        </div>
    </section>
    <div class="linea-decorativa-total">
        <div class="segment gradient">
        </div>
        <div class="segment white">
        </div>
        <div class="segment gradient-blue">
        </div>
    </div>
</div>
<app-footer></app-footer>
