/* ========== FAQ ========== */
.faq-column {
  flex: 1;
  min-width: 400px;
}

.faq-column details,
.faq details {
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  min-width: 400px;
  max-width: 600px;
  max-height: 150px;
  overflow: hidden;
  position: relative;
}

.titulo{
  margin-left: 80px;
}

.faq-column details[open],
.faq details[open] {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  max-height: 300px;
  overflow-y: auto;
  padding-right: 1rem;
}

.faq-column details p,
.faq details p {
  margin-left: 2rem;
  margin-top: 1rem;
}

.faq-column summary,
.faq summary {
  font-family: 'Poppins-Regular';
  font-weight: bold;
  font-size: 14px;
  font-display: swap;
  cursor: pointer;
  position: relative;
  padding-right: 32px;
  list-style: none;
}

.faq-column summary::-webkit-details-marker,
.faq summary::-webkit-details-marker {
  display: none;
}

.faq-column summary::after,
.faq summary::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 900;
  transition: color 0.3s ease;
}

.faq-column details[open] summary::after,
.faq details[open] summary::after {
  content: "–";
  color: #52BD95;
}

.faq-columns {
  display: flex;
  gap: 40px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

/* Cards */
.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 300px;
  z-index: 2;
  min-height: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card .icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.card h4 {
  color: #2074f1;
  font-size: 18px;
  margin: 10px 0;
}

.card:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-8px);
}

/* Colores de texto con gradiente */
.color-blue {
  background: linear-gradient(to right, #3171DE, #704AF2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 25px;
}

.color-green {
  background: linear-gradient(to right, #62AE6E, #EDE14F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 25px;
}

.black {
  color: #000000;
}

.linea-lateral {
  align-items: flex-start;
  display: flex;
  padding-left: 40px;
  position: relative;
}

.linea-lateral::before {
  background-color: #00c853;
  content: '';
  height: calc(100% - 20px);
  left: 20px;
  position: absolute;
  top: 20px;
  width: 2px;
}

.linea-decorativa-total {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 60px;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 10;
}

.header-container {
  background: url('/assets/img/soluciones/header_sol.jpg') no-repeat center center / cover;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.header-img {
  border-radius: 8px;
  max-width: 45%;
}

.header-overlay {
  align-items: left;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 60%);
  color: rgb(0, 0, 0);
  display: flex;
  flex: content;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  padding: 0 80px;
  position: absolute;
  text-align: left;
  z-index: 5;
}

.header-overlay p {
  max-width: 600px;
}

.header-section {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.header-section h1 {
  font-size: 36px;
  margin: 10px 0;
}

.header-section p {
  color: #666;
  font-size: 16px;
}

.header {
  position: relative;
  z-index: 1;
}

.icon-line{
  background: linear-gradient(to left, #4A6FF2, #3DA3E8, #31D4DE);
  clip-path: polygon(53% 0, 100% 0, 100% 50%, 50% 100%, 0 100%, 0 50%);
  height: 55px;
  max-height: calc(100% - 90px);
  position: absolute;
  left: 40px;
  top: 80px;
  width: 55px;
  z-index: 11;
}

.circle-line {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 46px;
  z-index: 11;
}

.circle-white{
  top: 860px;
  background: white;
}

.green{
  background: #62AE6E;
}

.icon {
  background: linear-gradient(to left, #4A6FF2, #3DA3E8, #31D4DE);
  border-radius: 40px;
  height: 250px;
  max-height: calc(100% - 90px);
  position: absolute;
  right: 200px;
  top: 80px;
  width: 350px;
  z-index: 1;
}

.icon-green {
  background: linear-gradient(to left, #62AE6E, #EDE14F 50%, #EDE14F);
  border-radius: 20px;
  clip-path: polygon(53% 0, 100% 0, 100% 50%, 50% 100%, 0 100%, 0 50%);
  height: 120px;
  max-height: calc(100% - 90px);
  position: absolute;
  right: 590px;
  top: 30px;
  width: 120px;
  z-index: 3;
}

/* Botón */
button {
  background-color: #0078d4;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem auto 1rem 400px;
  padding: 0.6rem 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 120px;
}

/* Contenedores y secciones */
.contenido-enfoque {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.contenido-enfoque h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.contenido-enfoque p {
  margin-top: 20px;
}

.contenido-enfoque .etiqueta {
  display: block;
  margin-left: 25px;
  text-align: left;
}

.cards-enfoque {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-top: 30px;
}

.custom-shape {
  grid-column: 2;
}

.custom-shape.custom-front {
  border-radius: 40px;
  clip-path: polygon(53% 0, 100% 0, 100% 50%, 50% 100%, 0 100%, 0 50%);
  height: auto;
  max-height: calc(100% - 60px);
  max-width: 300px;
  position: absolute;
  right: 350px;
  top: 40px;
  transform: translateX(0);
  z-index: 2;
}

.custom-shape.custom-front-2 {
  border-radius: 50px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  right: 220px;
  top: 50px;
  width: 430px;
  z-index: 2;
}

.custom-shape.custom-front-2 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Grid layouts */
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 800px;
}

.grid-2-sp {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  max-width: 1300px;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  max-width: 1800px;
}

.section-container {
  box-sizing: border-box;
  position: relative;
}

.section-container--clr-black {
  background-color: #000000;
  box-sizing: border-box;
}

.section-container--clr-f7f7fd {
  background-color: #F7F7FD;
  box-sizing: border-box;
}

.section-container--pt-20 {
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}

.section-container--pt-80 {
  padding-top: 80px;
  position: relative;
}

.section-container.izquierda .custom-shape {
  grid-column: 1; 
}

.section-container.izquierda .custom-shape.custom-front-2 {
  left: 220px;
  position: absolute;
  right: auto;
  top: 50px;
}

.section-container.izquierda .icon {
  left: 200px;
  position: absolute;
  right: auto;
  top: 80px;
  width: 350px;
  max-height: calc(100% - 90px);
  height: 250px;
  border-radius: 40px;
  background: linear-gradient(to left, #4A6FF2, #3DA3E8, #31D4DE);
  z-index: 1;
}

.section-container.izquierda .icon-green {
  left: 590px;
  position: absolute;
  right: auto;
  top: 30px;
  width: 120px;
  max-height: calc(100% - 90px);
  height: 120px;
  border-radius: 20px;
  background: linear-gradient(to left, #62AE6E, #EDE14F 50%, #EDE14F);
  clip-path: polygon(53% 0, 100% 0, 100% 50%, 50% 100%, 0 100%, 0 50%);
  z-index: 3;
}

 .section-container.izquierda .section-header {
  grid-template-columns: 1fr 1fr;
} 

.section-container.izquierda .section-header span,
.section-container.izquierda .section-header .izquierda_2,
.section-container.izquierda .section-header p,
.section-container.izquierda .section-header button,
.section-container.izquierda .section-header .icon,
.section-container.izquierda .section-header .icon-green {
  grid-column: 2;
}

/* Section header */
.section-header {
  display: grid;
  gap: 20px;
}

.section-header p {
  max-width: 600px;
}

.section-header span,
.section-header p,
.section-header h2,
.section-header button,
.section-header .icon,
.section-header .icon-green {
  grid-column: 1;
}

.section-header--p-80 {
  padding: 60px 200px;
}

/* Section grid */
.section-grid {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: 48px 200px;
  justify-content: center;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 40px 90px 80px 90px;
}

/* Section text centered */
.section-text.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 299px;
  text-align: center;
}

/* Segment */
.segment {
  width: 100%;
}

.segment.gradient {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, #6CC6F3 40%, #97C686 30%);
  height: 795px;
}

.segment.gradient-blue {
  background: linear-gradient(to bottom, rgb(151, 198, 134) 0%, #97C686 90%, #6cc6f3b0 30%);
  flex: 1;
}

.segment.white {
  background: white;
  height: 615px;
}

/* Servicios */
.servicio-card {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.servicio-card img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.servicio-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.servicio-card p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

.servicios-container {
  background-color: #fff;
  border-radius: 28px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  gap: 60px;
  justify-content: center;
  max-width: 1200px;
  padding: 40px;
  flex-wrap: wrap;
}

.servicios-section {
  background: linear-gradient(to right, #1e88e5, #42a5f5);
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 40px 20px;
  padding: 60px 20px;
}

/* Etiqueta */
.etiqueta {
  font-family: 'Poppins-Regular';
  font-size: 18px;
  font-weight: bold;
  font-display: swap;
  text-transform: uppercase;
}

/* Texto de encabezado */
.texto-header {
  max-width: 50%;
}

.white {
  color: #ffffff;
}

.yellow {
  color: #f9b233;
}

/* Section wrapper */
.section-wrapper {
  position: relative;
}

@media (max-width: 1400px) {
  .header-container {
    height: 700px;
    background-position: center center; /* Asegura que la imagen esté siempre centrada */
  }

  .faq-column {
    min-width: 300px;
    flex-basis: 48%; /* dos columnas */
  }

  .faq-column details,
  .faq details {
    min-width: 100%;
    max-width: 100%;
    max-height: 250px;
  }

  .faq-columns {
    gap: 20px;
    justify-content: center;
  }

  .card {
    width: 100%;
    min-height: 120px;
  }

  .header-overlay {
    padding: 0 40px;
  }

  .header-img {
    max-width: 60%;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .contenido-enfoque {
    max-width: 90%;
  }

  .cards-enfoque {
    justify-content: space-between;
  }

  .section-container.izquierda .section-header {
    grid-template-columns: 500px 500px !important;
  }

  .section-container.izquierda .custom-shape.custom-front-2 {
    left: 150px;
  } 

  .section-container.izquierda .icon {
    left: 120px;
  }

  .section-container.izquierda .icon-green {
    left: 500px;
  }

  .custom-shape.custom-front-2{
    right: 80px;
  }

  .section-grid {
    display: grid;
    gap: 30px;

  }

  .section-header--p-80 {
  padding: 60px 100px;
  }

  .derecha p {
    max-width: 470px;
  }

  .derecha button {
    margin-left: 100px;
  }

  .header-overlay p {
    max-width: 350px;
  }

  .custom-shape.custom-front-2 img {
    width: 100% !important;
    height: 100% !important;
  }

  .icon{
    right: 50px;
  }

  .icon-green{
    right: 430px;
  }



}

/* Estilos responsivos para Tablet */
@media (max-width: 1024px) {
  .header-container {
    height: 700px;
    background-position: center center; /* Asegura que la imagen esté siempre centrada */
  }

  .faq-column {
    min-width: 300px;
    flex-basis: 48%; /* dos columnas */
  }

  .faq-column details,
  .faq details {
    min-width: 100%;
    max-width: 100%;
    max-height: 250px;
  }

  .faq-columns {
    gap: 20px;
    justify-content: center;
  }

  .card {
    width: 100%;
    min-height: 120px;
  }

  .header-overlay {
    padding: 0 40px;
  }

  .header-img {
    max-width: 60%;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .contenido-enfoque {
    max-width: 90%;
  }

  .cards-enfoque {
    justify-content: space-between;
  }

  .section-container.izquierda .section-header {
    grid-template-columns: 500px 300px !important;
  }

  .section-container.izquierda .custom-shape.custom-front-2 {
    left: 150px;
  } 

  .section-container.izquierda .icon {
    left: 120px;
  }

  .section-container.izquierda .icon-green {
    left: 500px;
  }

  .custom-shape.custom-front-2{
    right: 80px;
  }

  .section-grid {
    display: grid;
    gap: 30px;

  }

  .section-header--p-80 {
  padding: 60px 100px;
  }

  .derecha p {
    max-width: 330px;
  }

  .derecha button {
    margin-left: 100px;
  }

  .header-overlay p {
    max-width: 350px;
  }

  .custom-shape.custom-front-2 img {
    width: 100% !important;
    height: 100% !important;
  }

  .icon{
    right: 50px;
  }

  .icon-green{
    right: 430px;
  }



}

@media (max-width: 768px) {
  .header-container {
    height: 500px;
    background-position: center center;
  }

  /* FAQ */
  .faq-column {
    min-width: 100%;
    flex-basis: 100%; /* Asegura que las columnas de FAQ se apilen verticalmente */
  }

  .faq-column details,
  .faq details {
    min-width: 500px;
    max-width: 500px;
    max-height: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .faq-column details[open],
  .faq details[open] {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    max-height: none;
    overflow-y: auto;
  }

  .faq-column summary {
    font-family: 'Poppins-Regular';
    font-weight: bold;
    font-size: 16px;
    padding-right: 32px;
    cursor: pointer;
  }

  .faq-column summary::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
  }

  .faq-column details[open] summary::after {
    content: "–";
    color: #52BD95;
  }

  .faq-columns {
    display: flex;
    flex-direction: column; /* Coloca las columnas de FAQ en una sola columna */
    gap: 10px;
    margin-top: 1rem;
  }

  /* Cards */
  .card {
    width: 100%;
    min-height: 100px;

  }

  .header-overlay {
    padding: 0 20px;
  }


  .header-img {
    max-width: 90%;
    height: auto;
  }


  .header-section {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-section h1 {
    font-size: 24px;
  }

  .header-section p {
    font-size: 14px;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }



  .section-grid {
    display: grid;
    gap: 30px;
    padding: 20px;
  }


  .section-header p {
    font-size: 14px;
  }

  .section-text.centered {
    padding: 0px 40px;
  }


  .servicios-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .servicio-card {
    width: 80%;
    max-width: 300px;
    margin: 10px;
  }

  .servicios-section {
    padding: 40px 20px;
  }

  .texto-header {
    max-width: 100%;
    text-align: center;
  }

  .custom-shape.custom-front-2{
    top: 60px;
    right: 0px;
  }

  .section-container.izquierda .custom-shape.custom-front-2 {
    top: 60px;
    left: 50px;
  } 
  .section-container.izquierda .section-header {
    grid-template-columns: 300px 300px !important;
  }

  .izquierda .custom-shape.custom-front-2 img {
    width: 60% !important; 
    height: 60% !important;
    margin: 0 auto; 
    display: block;
    border-radius: 30px;
  }
  .section-container.izquierda .icon {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 250px;
    height: 150px;
    border-radius: 40px;
  } 

  .section-container.izquierda .icon-green {
    position: absolute;
    top: 50px;
    left: 350px;
    width: 60px;
    height: 60px;
    border-radius: 15%;
  } 

  .section-container--pt-80{
    padding-top: 0px;
  }

  
  /* Iconos */
  .icon {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 250px;
    height: 150px;
    border-radius: 40px;
  }

  .icon-green {
    position: absolute;
    top: 50px;
    right: 260px;
    width: 60px;
    height: 60px;
    border-radius: 15%;
  }

  .derecha .custom-shape.custom-front-2 img {
    width: 60% !important; 
    height: 60% !important;
    margin: 0 130px; 
    display: block;
    border-radius: 30px;
  }

  .derecha p {
    max-width: 330px;
  }

  .segment.gradient {
    height: 705px;
  }
  
  .segment.gradient-blue {
    flex: 1;
  }
  
  .segment.white {
    height: 1050px;
  }

}

@media screen and (max-width: 480px) {
  .section-container.izquierda .section-header span,
  .section-container.izquierda .section-header p,
  .section-container.izquierda .section-header button,
  .section-container.izquierda .section-header .icon,
  .section-container.izquierda .section-header .icon-green {
    grid-column: 1;
  }

  .contenido-enfoque span{
    font-size: 12px;
  }
  .contenido-enfoque h3{
    font-size: 16px;
  }
  .servicio-card h3{
    font-size: 16px;
  }
  .servicio-card p{
    font-size: 13px;
  }
    .header-container {
      height: 300px;
      background-position: center center;
    }

    h2 .yellow{
      font-size: 15px;
    }
    .yellow {
      font-size: 10px;
    }


    h1{
      font-size: 20px;
    }
    p{
      font-size: 13px;
    }
    .linea-decorativa-total{
      left: 30px;
    }

    .derecha button{
      margin-left: 10px;
    }

    .section-header p {
    font-size: 12px;
    }

    .header-overlay {
      padding: 0 20px;
    }
    .header-overlay p {
      max-width: 190px;
    }

    .section-header--p-80 {
      padding: 40px 50px 0px 90px;
    }
    .circle-line{
      height: 15px;
      width: 15px;
      left: 24px;
    }

    .section-header-flex {
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

    .icon,
    .icon-green,
    .custom-shape.custom-front-2 {
      display: none;
    }

    .segment.gradient{
      height: 767px;
    }

    .segment.white{
      height: 1280px;
    }

    .section-grid {
      padding: 10px 60px;
      gap: 5px;
    }

    .grid-3 {
      grid-template-columns: 1fr;
    }

    .grid-2 {
      grid-template-columns: 1fr;
    }

    .grid-4 {
      grid-template-columns: 1fr;
    }

    .card-grid {
      grid-template-columns: 1fr;
    }

    .card {
      padding: 30px;
    }

    .card.new img {
      height: 200px;
    }

    .section-card {
      max-width: 100%;
    }

    .section-header p {
      max-width: 100%;
    }

    .faq-column details {
      min-width: 300px;
    }

    .faq-columns {
      gap: 10px;
      flex-direction: column;
    }

    .section-grid.centered {
      padding: 0px 90px 80px 90px;
    }
    .section-text.centered {
      padding: 40px 50px;
    }
    .card-pair{
      display: grid;
    }
    .faq-column summary{
      font-size: 12px;
    }
    button{
      font-size: 12px;
      margin: 1rem auto 1rem 10px;
    }
    h3{
      font-size: 15px;
    }

    h2{
      font-size: 15px;
    }
    h4{
      font-size: 16px;
    }
    .container{
      margin-top: 0px;
    }
    .card-text h3{
      font-size: 15px;
    }
    .card-text p{
      font-size: 11px;
    }

    .card h3{
      font-size: 15px;
    }
    .card p{
      font-size: 11px;
    }
    .card img{
      height: 25px;
    }

    .section-card h3{
      font-size: 15px;
    }
    .section-card p{
      font-size: 11px;
    }

  .icon-line{
    height: 35px;
    left: 15px;
    top: 130px;
    width: 35px;
  }
}

