<header>
  <div class="header-container">
    <app-navbar></app-navbar>
    <div class="header-overlay">
      <h1>TRANSFORMACIÓN DIGITAL<br>E INNOVACIÓN</h1>
      <p>En un entorno empresarial que cambia rápidamente, TECHCENTER y Microsoft te brindan las herramientas y la estrategia necesarias para superar desafíos, acelerar la innovación y liderar el cambio digital.</p>
      <div class="header-buttons">
        <a routerLink="/contacto" class="btn primary">Obtén una asesoría gratuita</a>
        <a routerLink="/nosotros" class="btn secondary">Conoce más soluciones</a>
      </div>
    </div>
  </div>
</header>
<!-- Soluciones Container -->
 <section class="section-container section-container--pt-80">
  <div class="section-header section-header--p-80">
    <div class="icon">
      <img rel="preload" src="assets/img/formas/forma-1.png" alt="Forma 1"style="width: 90px; height: 100px;">
    </div>
    <div class="section-text">
      <h2>Soluciones</h2>
      <h3>Microsoft Cloud</h3>
      <p>Impulsa tu transformación digital con Azure, Microsoft 365 y Power Platform. Escala tu negocio con tecnología segura, flexible y de alto impacto. </p>
    </div>
  </div>
  <div class="section-grid grid-3">
    <a [routerLink]="'/soluciones-microsoft-cloud/trabajo-moderno-soluciones-microsoft-cloud'" class="card-link">
      <div class="card">
        <img rel="preload" src="assets/img/iconos/trabajo.png" alt="Trabajo Moderno icono" style="width: 30px; height: 30px;">
        <h3>Trabajo moderno</h3>
        <p>Implementa soluciones como Microsoft Teams y SharePoint para facilitar el trabajo híbrido, mejorar la colaboración y aumentar la productividad.</p>
      </div>
    </a>
    <a [routerLink]="'/soluciones-microsoft-cloud/aplicaciones-empresariales'" class="card-link">
      <div class="card">
        <img rel="preload" src="assets/img/iconos/aplicaciones.png" alt="Aplicaciones Empresariales icono" style="width: 30px; height: 30px;">
        <h3>Aplicaciones empresariales</h3>
        <p>Digitaliza tus procesos con Dynamics 365 y Power Apps, integrando automatización y análisis en tiempo real.</p>
      </div>
    </a>
    <a [routerLink]="'/soluciones-microsoft-cloud/infraestructura-microsoft-cloud'" class="card-link">
      <div class="card">
        <img rel="preload" src="assets/img/iconos/infraestructura.png" alt="Infraestructura icono" style="width: 30px; height: 30px;">
        <h3>Infraestructura </h3>
        <p>Migra y optimiza tu infraestructura en la nube con Microsoft Azure, reduciendo costos y mejorando el rendimiento.</p>
      </div>
    </a>
    <div class="card">
      <img rel="preload" src="assets/img/iconos/seguridad.png" alt="Seguridad icono" style="width: 30px; height: 30px;">
      <h3>Seguridad</h3>
      <p>Protege tu información con Microsoft Defender y Entra ID, asegurando cumplimiento normativo y continuidad operativa.</p>
    </div>
    <div class="card">
      <img rel="preload" src="assets/img/iconos/innovacion.png" alt="Innovación icono" style="width: 30px; height: 30px;">
      <h3>Innovación digital y de aplicaciones</h3>
      <p>Desarrolla o moderniza aplicaciones con tecnologías low-code como Power Platform y servicios cloud de Azure.</p>
    </div>
    <div class="card">
      <img rel="preload" src="assets/img/iconos/datos.png" alt="Datos icono" style="width: 30px; height: 30px;">
      <h3>Datos e IA</h3>
      <p>Obtén insights con Power BI y Azure AI para tomar decisiones estratégicas basadas en datos e inteligencia artificial.</p>
    </div>
  </div>
</section>

<section class="section-container section-container--pt-20">
    <div class="section-header section-header--p-80">
    <div class="icon">
      <img rel="preload" src="assets/img/formas/forma-1.png" alt="Forma 1" style="width: 90px; height: 100px;">
    </div>
        <div class="section-text">
            <h2>Servicios</h2>
            <h3>Lleva tu empresa al siguiente nivel</h3>
            <p>Combinamos la tecnología de Microsoft Cloud con nuestros servicios de consultoría para ofrecerte una solución integral que se adapta a tus necesidades específicas. Desde la planificación y estrategia hasta la implementación y soporte, estamos contigo en cada paso del camino.</p>
        </div>
    </div>
    <div class="section-grid grid-2">
      <div class="card">
        <img rel="preload" src="assets/img/iconos/migracion.png"  loading="lazy" alt="Migracion icono" style="width: 30px; height: 30px;">
        <h3>Migración a la nube</h3>
        <p>Facilitamos la transición de tus aplicaciones y datos a la nube de Microsoft de manera segura y eficiente, minimizando cualquier interrupción en tus operaciones.</p>
      </div>
      <div class="card">
        <img src="assets/img/iconos/modernizacion.png" loading="lazy" alt="Modernizacion icono" style="width: 30px; height: 30px;">
        <h3>Modernización de aplicaciones</h3>
        <p>Ayudamos a tu empresa a desarrollar nuevas aplicaciones en la nube o a modernizar las existentes para aprovechar las capacidades avanzadas de la nube de Microsoft</p>
      </div>
      <div class="card">
        <img rel="preload" src="assets/img/iconos/consultoria.png" loading="lazy" alt="Consultoria icono" style="width: 30px; height: 30px;">
        <h3>Consultoría y asesoramiento</h3>
        <p>Transformación Digital e Innovación con nuestra Consultoría en Transformación Digital. Te ayudamos a identificar las aplicaciones y servicios de Microsoft ideales para tu empresa.</p>
      </div>
      <div class="card">
        <img rel="preload" src="assets/img/iconos/capacitacion.png" loading="lazy" alt="Capacitación icono" style="width: 30px; height: 30px;">
        <h3>Capacitación y soporte</h3>
        <p>Ayudamos a tu empresa con la formación continua y el soporte técnico para asegurar que puedas utilizar las soluciones de Microsoft de manera efectiva.</p>
      </div>
    </div>
</section>

<section class="section-container--clr-f7f7fd">
  <div class="section-text centered">
      <h3>Nuestros Clientes</h3>
   <div class="clientes-grid">
      <div class="carousel">
        <div class="carousel-item" *ngFor="let logo of logos">
	          <a [href]="logo.url" >
              <img rel="preload"  loading="lazy"[src]="logo.src" [alt]="logo.alt" width="100" height="60">
            </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-container section-container--pt-8">
  <div class="section-header-clientes section-header--p-80">
    <div class="experiencia-icon">
      <img rel="preload" src="assets/img/formas/forma-2.webp" class="custom custom-back" alt="Forma 2" loading="lazy">
      <img rel="preload" src="assets/img/section-clients.webp" class="custom-shape custom-front" alt="Nuestros Clientes" loading="lazy">
    </div>
    <div class="section-text">
      <h3>Nuestros Clientes</h3>
      <p>Nos enorgullece seguir ayudando a impulsar la transformación digital e innovación de numerosas empresas a nivel nacional e internacional en diversos sectores empresariales como: Finanzas, Minería, Transporte, Tecnología de la Información y Comunicaciones, Educación, Industria, Comercio, Servicios, Gobierno, entre otros.</p>
    </div>
  </div>
   <div class="section-grid grid-3">
      <div class="card">
        <div class="card-calificacion">
          <img rel="preload" src="assets/img/formas/stars.png" alt="Estrellas" width="151" height="27" loading="lazy">
        </div>
        <div class="card-text">
          <p>"Facilitamos la transición de tus aplicaciones y datos a la nube de Microsoft de manera segura y eficiente, minimizando cualquier interrupción en tus operaciones."</p>
        </div>
        <div class="card-footer">
          <div class="logo">
            <img rel="preload" src="assets/img/marcas/danper.png" alt="Logo Danper" loading="lazy">
          </div>
          <div class="texto">
            <h3>RAUL SALDAÑA</h3>
            <p>Gerente de TI - DANPER</p>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-calificacion">
          <img rel="preload" src="assets/img/formas/stars.png" alt="Estrellas" width="151" height="27" loading="lazy">
        </div>
        <div class="card-text">
          <p>"TECHCENTER optimizó nuestra productividad con Office 365, mejorando la seguridad de la información y facilitando el acceso y colaboración eficiente en toda la empresa."</p>
        </div>
        <div class="card-footer">
          <div class="logo">
            <img rel="preload" src="assets/img/marcas/farmimport.png" alt="Logo Famiport" loading="lazy">
          </div>
          <div class="texto">
            <h3>SERGIO MORALES</h3>
            <p>Director - FARM IMPORT</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-calificacion">
          <img rel="preload" src="assets/img/formas/stars.png" alt="Estrellas" width="151" height="27" loading="lazy">
        </div>
        <div class="card-text">
          <p>"TECHCENTER ha entendido nuestras necesidades únicas desde el inicio, facilitando un flujo de información ágil y decisiones mejor informadas en nuestra empresa."</p>
        </div>
        <div class="card-footer">
          <div class="logo">
            <img rel="preload" src="assets/img/marcas/etral.png" alt="Logo Etral" loading="lazy">
          </div>
          <div class="texto">
            <h3>RAUL SALDAÑA</h3>
            <p>Gerente General - ETRAL</p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section-container section-container--pt-80">
  <div class="section-header section-header--p-80">
    <div class="novedades-icon">
      <img rel="preload" src="assets/img/formas/forma-1.png" alt="Forma 1" style="width: 90px; height: 100px;">
    </div>
    <div class="section-text">
      <h3>Ultimas Novedades</h3>
      <p>Descubre cómo la tecnología Microsoft Cloud te ayuda a enfrentar los desafíos de tu empresa en un mundo de rápida evolución.</p>
    </div>
  </div>
   <div class="section-grid grid-3">
      <div class="card new">
        <div class="card-media">
          <img rel="preload" src="assets/img/blog/noticia1.png" alt="Noticia 1" loading="lazy">
        </div>
        <div class="card-text">
          <h3>Cómo las Empresas de Software Lideran la Transformación de la IA</h3>
          <p>Datos e IA</p>
        </div>
        <button><a href="https://techcenterperu.com/inteligencia-artificial-desarrollo-software/" target="_blank">Leer mas</a></button>
      </div>
      <div class="card new">
        <div class="card-media">
          <img rel="preload" src="assets/img/blog/noticia2.png" alt="Noticia 2" loading="lazy">
        </div>
        <div class="card-text">
          <h3>Optimiza tu negocio con Agentes IA en Microsoft Dynamics 365</h3>
          <p>Datos e IA</p>
        </div>
        <button><a href="https://techcenterperu.com/agentes-ia-microsoft-dynamics-365/" target="_blank">Leer mas</a></button>

      </div>
      <div class="card new">
        <div class="card-media">
          <img src="assets/img/blog/noticia3.png" alt="Noticia 3" loading="lazy">
        </div>
        <div class="card-text">
          <h3>Empodera tu negocio con IA: Descubre el Chat de Microsoft 365 Copilot</h3>
          <p>Datos e IA</p>
        </div>
        <button><a href="https://techcenterperu.com/chat-microsoft-365-copilot-productividad/" target="_blank">Leer mas</a></button>
      </div>
    </div>
</section>

<section class="section-container section-container--pt-20">
  <div class="section-header section-header--p-0">
    <div class="section-text centered">
      <h3>Preguntas frecuentes</h3>
      <p>Encuentra respuestas a las preguntas más frecuentes sobre nuestras soluciones.</p>
    </div>
  </div>
     <div class="section-grid">
        <div class="faq-columns">
          <div class="faq-column">
            <details>
              <summary>¿Qué es la transformación digital y por qué es importante para mi empresa?</summary>
              <p>La transformación digital implica la integración de tecnologías digitales en todas las áreas de tu negocio, cambiando fundamentalmente cómo operas y entregas valor a los clientes. Es importante porque mejora la eficiencia operativa, reduce costos, y permite una mejor toma de decisiones basada en datos. Además, te ayuda a adaptarte rápidamente a los cambios del mercado y a mantener una ventaja competitiva.</p>
            </details>

            <details>
              <summary>¿Cómo puede TECHCENTER ayudar a mi empresa con la transformación digital?</summary>
              <p>En TECHCENTER, ofrecemos servicios de consultoría personalizados para guiar a tu empresa en su viaje de transformación digital. Utilizamos tecnologías avanzadas de Microsoft Cloud para optimizar tus procesos, mejorar la experiencia del cliente y fomentar la innovación. Nuestro equipo de expertos trabaja contigo para desarrollar e implementar estrategias que impulsen el crecimiento y la eficiencia de tu negocio.</p>
            </details>
          </div>

          <div class="faq-column">
            <details>
              <summary>¿Qué beneficios ofrece Microsoft Cloud para mi empresa?</summary>
              <p>Microsoft Cloud ofrece una amplia gama de beneficios, incluyendo escalabilidad, seguridad avanzada, y acceso a herramientas de análisis de datos y colaboración. Estas características permiten a tu empresa operar de manera más eficiente, proteger datos sensibles y tomar decisiones informadas. Además, la flexibilidad de Microsoft Cloud facilita la adaptación a las necesidades cambiantes del negocio.</p>
            </details>

            <details>
              <summary>¿Cómo se mide el éxito de un proyecto de transformación digital?</summary>
              <p>El éxito de un proyecto de transformación digital se mide mediante varios indicadores clave de rendimiento (KPIs), como la mejora en la eficiencia operativa, la reducción de costos, el aumento de la satisfacción del cliente y el crecimiento de los ingresos. En TECHCENTER, trabajamos contigo para definir estos KPIs desde el inicio y monitoreamos continuamente el progreso para asegurar que se alcancen los objetivos establecidos.</p>
            </details>

            <details>
              <summary>¿Qué industrias pueden beneficiarse de los servicios de TECHCENTER?</summary>
              <p>Los servicios de TECHCENTER son beneficiosos para una amplia variedad de industrias, incluyendo salud, finanzas, manufactura, retail y más. Cada industria enfrenta desafíos únicos, y nuestras soluciones personalizadas están diseñadas para abordar las necesidades específicas de cada sector, ayudando a las empresas a innovar y crecer en un entorno competitivo.</p>
            </details>
          </div>
        </div>
     </div>
</section>

 <app-footer></app-footer>
