
<header class="header-container">
  <div class="header-overlay">
    <h1>TRANSFORMACIÓN DIGITAL<br>E INNOVACIÓN</h1>
    <p>En un entorno empresarial que cambia rápidamente, TECHCENTER y Microsoft te brindan las herramientas y la estrategia necesarias para superar desafíos, acelerar la innovación y liderar el cambio digital. </p>
    <div class="header-buttons">
      <a routerLink="/contacto" class="btn primary">Obtén una asesoría gratuita</a>
      <a routerLink="/servicios" class="btn secondary">Conoce más Soluciones</a>
    </div>
  </div>
</header>

<!-- Soluciones Container -->
<section class="soluciones-container">
  <div class="soluciones-header">
    <div class="soluciones-icon"></div>
    <div class="soluciones-text">
      <h4>Soluciones</h4>
      <h2>Microsoft Cloud</h2>
      <p>Impulsa tu transformación digital con Azure, Microsoft 365 y Power Platform. Escala tu negocio con tecnología segura, flexible y de alto impacto. </p>
    </div>
  </div>
  <div class="soluciones-grid">
    <div class="card"> 
      <h3>Trabajo moderno</h3> 
      <p>Implementa soluciones como Microsoft Teams y SharePoint para facilitar el trabajo híbrido, mejorar la colaboración y aumentar la productividad.</p>
    </div>
    <div class="card"> 
      <h3>Aplicaciones empresariales</h3> 
      <p>Create custom software tailored for your unique needs, including front-end and core back-end technology.</p>
    </div>
    <div class="card"> 
      <h3>Infraestructura </h3> 
      <p>Migra y optimiza tu infraestructura en la nube con Microsoft Azure, reduciendo costos y mejorando el rendimiento.</p>
    </div>
    <div class="card"> 
      <h3>Seguridad</h3> 
      <p>Protege tu información con Microsoft Defender y Entra ID, asegurando cumplimiento normativo y continuidad operativa.</p>
    </div>
    <div class="card"> 
      <h3>Innovación digital y de aplicaciones</h3> 
      <p>Desarrolla o moderniza aplicaciones con tecnologías low-code como Power Platform y servicios cloud de Azure.</p>
    </div>
    <div class="card"> 
      <h3>Datos e IA</h3> 
      <p>Obtén insights con Power BI y Azure AI para tomar decisiones estratégicas basadas en datos e inteligencia artificial.</p>
    </div>
  </div>
</section>

<section class="servicios-container">
    <div class="servicios-header">
        <div class="servicios-text">
            <h4>Servicios</h4>
            <h2>Lleva tu empresa al siguiente nivel</h2>
            <p>Combinamos la tecnología de Microsoft Cloud con nuestros servicios de consultoría para ofrecerte una solución integral que se adapta a tus necesidades específicas. Desde la planificación y estrategia hasta la implementación y soporte, estamos contigo en cada paso del camino.</p>
        </div>
    </div>
    <div class="servicios-grid">
        <div class="card"> 
      <h3>Migración a la nube</h3> 
      <p>Facilitamos la transición de tus aplicaciones y datos a la nube de Microsoft de manera segura y eficiente, minimizando cualquier interrupción en tus operaciones.</p>
    </div>
    <div class="card"> 
      <h3>Modernización de aplicaciones</h3> 
      <p>Ayudamos a tu empresa a desarrollar nuevas aplicaciones en la nube o a modernizar las existentes para aprovechar las capacidades avanzadas de la nube de Microsoft</p>
    </div>
    <div class="card"> 
      <h3>Consultoría y asesoramiento</h3> 
      <p>Transformación Digital e Innovación con nuestra Consultoría en Transformación Digital. Te ayudamos a identificar las aplicaciones y servicios de Microsoft ideales para tu empresa.</p>
    </div>
    <div class="card"> 
      <h3>Capacitación y soporte</h3> 
      <p>Ayudamos a tu empresa con la formación continua y el soporte técnico para asegurar que puedas utilizar las soluciones de Microsoft de manera efectiva.</p>
    </div>
    </div>
</section>