<section class="section-container--clr-black section-container--pt-20">
  <div class="section-header section-header--p-0">
    <div class="section-text--c-white section-grid grid-2-sp">
      <div class="column">
        <h3>¿Estás listo para llevar a tu empresa al siguiente nivel?</h3>
        <p><br>En TECHCENTER, estamos comprometidos a proporcionarte soluciones personalizadas y soporte continuo para que puedas enfocarte en lo que mejor haces: hacer crecer tu negocio. <br><br>No esperes más, ¡contáctanos hoy mismo para una asesoría gratuita y comienza tu viaje hacia la transformación digital.</p>
      </div>
      <div class="column">
        <form class="formulario"  [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <h4>Conversemos</h4>
          <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa tus nombres" required>

          <input type="text" id="apellido" formControlName="apellidos" placeholder="Ingresa tus apellidos" required>

          <input type="email" id="email" formControlName="correo" placeholder="Ingresa tu direccion e-mail" required>

          <input type="text" id="telefono" formControlName="telefono" placeholder="Ingresa tu número movil" required>

          <textarea id="mensaje" formControlName="descripcion" rows="4" placeholder="Ingresa tu mensaje" required></textarea>
          
          <input type="hidden" formControlName="captchaToken" id="captchaToken">
          
          <button type="submit" [disabled]="formulario.invalid">Envía tu mensaje al asesor</button>
        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="section-container" style="border-top: 1px solid #e0e0e0; padding-top: 2rem;">
    <div class="section-grid grid-4 ">
      <div class="footer-logo">
        <img src="assets/img/Logo.png" alt="TechCenter Logo" style="width: 250px; height: 60px;" />
        <p><a >Transformación digital e innovación para tu empresa mediante la tecnología de Microsoft Cloud.</a></p>
        <div class="social-icons">
          <a href="https://www.facebook.com/TECHCENTERPERU" target="_blank"><img src="assets/img/redes/facebook.png" alt="Facebook" width="30" height="30"></a>
          <a href="https://www.instagram.com/techcenterperu/" target="_blank"><img src="assets/img/redes/instagram.png" alt="Instagram" width="30" height="30"></a>
          <a href="https://www.linkedin.com/company/techcenterperu/" target="_blank"><img src="assets/img/redes/linkedin.png" alt="Linkedin" width="30" height="30"></a>
          <a href="https://www.tiktok.com/@techcenterperu.com" target="_blank"><img src="assets/img/redes/tiktok.png" alt="Tiktok" width="30" height="30"></a>
          <a href="https://x.com/i/flow/login?redirect_after_login=%2Ftechcenterperu" target="_blank"><img src="assets/img/redes/twiter.png" alt="Twitter" width="30" height="30"></a>
          <a href="https://www.youtube.com/@techcenterperu" target="_blank"><img src="assets/img/redes/youtube.png" alt="Youtube" width="30" height="30"></a>
        </div>
      </div>

      <div class="footer-links">
        <h4>Soluciones</h4>
        <ul>
          <li><a href="#">Trabajo moderno</a></li>
          <li><a href="#">Aplicaciones empresariales</a></li>
          <li><a href="#">Infraestructura</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Enlaces internos</h4>
        <ul>
          <li><a href="https://engage.cloud.microsoft/main/org/techcenterperu.com/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiIyMDc4NjUzODA4NjQifQ" target="_blank">Comunidad Conecta 360</a></li>
          <li><a href="https://techcenter-clientes.powerappsportals.com/" target="_blank">Centro de Soporte</a></li>
          <li><a [routerLink]="'politicas-de-privacidad'" target="_blank">Politica de Privacidad</a></li>
          <li><a [routerLink]="'terminos-y-condiciones'" target="_blank">Terminos y Condiciones</a></li>
          <li><a [routerLink]="'politicas-de-cookies'" target="_blank">Politicas de cookies (UE)</a></li>
        </ul>
      </div>

      <div class="footer-contact">
        <h4>Contacto</h4>
        <p><a href="mailto:hola@techcenterperu.com">hola&#64;techcenterperu.com</a></p>
        <p><a >Av. Larco 162 Int. 504<br>Trujillo, La Libertad<br>Perú</a></p>
      </div>
    </div>
  </div>
</footer> 

