<app-navbar-color></app-navbar-color>
<header>
  <div class="header-container">
    <div class="header-overlay">
        <span class="etiqueta yellow">Servicios</span>
        <h1>Cómo lo hacemos</h1>
        <p>Tenemos la experiencia técnica, los servicios y las soluciones que necesitas para transformar tu negocio, ser rentable y crecer de nuevas maneras.</p>
    </div>
  </div>
</header>
<div class="section-wrapper">
    <section class="section-container section-container--pt-80">
        <div class="section-header section-header--p-80">
            <div class="section-text">
                <h4>Servicios</h4>
                <h2>Lleva tu empresa al siguiente nivel</h2>
                <p>Combinamos la tecnología de Microsoft Cloud con nuestros servicios de consultoría para ofrecerte una solución integral que se adapta a tus necesidades específicas. Desde la planificación y estrategia hasta la implementación y soporte, estamos contigo en cada paso del camino.</p>
            </div>
        </div>
        <div class="section-grid grid-2">
        <div class="card">
            <img src="assets/img/iconos/migracion.png" alt="">
            <h3>Migración a la nube</h3>
            <p>Facilitamos la transición de tus aplicaciones y datos a la nube de Microsoft de manera segura y eficiente, minimizando cualquier interrupción en tus operaciones.</p>
        </div>
        <div class="card">
            <img src="assets/img/iconos/modernizacion.png" alt="">
            <h3>Modernización de aplicaciones</h3>
            <p>Ayudamos a tu empresa a desarrollar nuevas aplicaciones en la nube o a modernizar las existentes para aprovechar las capacidades avanzadas de la nube de Microsoft</p>
        </div>
        <div class="card">
            <img src="assets/img/iconos/consultoria.png" alt="">
            <h3>Consultoría y asesoramiento</h3>
            <p>Transformación Digital e Innovación con nuestra Consultoría en Transformación Digital. Te ayudamos a identificar las aplicaciones y servicios de Microsoft ideales para tu empresa.</p>
        </div>
        <div class="card">
            <img src="assets/img/iconos/capacitacion.png" alt="">
            <h3>Capacitación y soporte</h3>
            <p>Ayudamos a tu empresa con la formación continua y el soporte técnico para asegurar que puedas utilizar las soluciones de Microsoft de manera efectiva.</p>
        </div>
        </div>
    </section>
    <section class="container-blue">
        <section class="section-container section-container--pt-80 izquierda"> 
            <div class="section-header section-header--p-80">
                <span class="etiqueta blue">Migración a la nube</span>
                <p>Ayudamos a trasladar las aplicaciones y los datos de tu empresa a la nube de Microsoft de manera segura y eficiente, minimizando el tiempo de inactividad.</p>
                <div class="icon-green"></div>
                <div class="icon"></div>
                <div class="custom-shape custom-front-2">
                    <img src="assets/img/soluciones/trabajo.jpg" alt="Trabajo Moderno">
                </div>
            </div>
        </section>
        <section class="section-container section-container--pt-80 derecha"> 
                <div class="section-header section-header--p-80">
                    <span class="etiqueta blue">Modernización de aplicaciones</span>
                    <p>Ayudamos a tu empresa a desarrollar nuevas aplicaciones en la nube o a modernizar las existentes para aprovechar las capacidades avanzadas de la nube de Microsoft.</p>
                    <div class="icon-green"></div>
                    <div class="icon"></div>
                    <div class="custom-shape custom-front-2">
                        <img src="assets/img/soluciones/aplicaciones.jpg" alt="Aplicaciones Empresariales">
                    </div>
                </div>
        </section>
        <section class="section-container section-container--pt-80 izquierda"> 
                <div class="section-header section-header--p-80">
                    <span class="etiqueta blue">Consultoría y asesoramiento</span>
                    <p>Ayudamos a identificar las aplicaciones y servicios de Microsoft más adecuados para las necesidades específicas de tu empresa.</p>
                    <div class="icon-green"></div>
                    <div class="icon"></div>
                    <div class="custom-shape custom-front-2">
                        <img src="assets/img/soluciones/infraestructura.jpg" alt="Infraestructura">
                    </div>
                </div>
        </section>
        <section class="section-container section-container--pt-80 derecha"> 
                <div class="section-header section-header--p-80">
                    <span class="etiqueta blue">Capacitación y soporte</span>
                    <p>Ayudamos a tu empresa con la formación continua y el soporte técnico para asegurar que puedas utilizar las soluciones de Microsoft de manera efectiva.</p>
                    <div class="icon-green"></div>
                    <div class="icon"></div>
                    <div class="custom-shape custom-front-2">
                        <img src="assets/img/soluciones/seguridad.jpg" alt="Seguridad">
                    </div>
                </div>
        </section>
    </section>

    <section class="section-container section-container--pt-20">
        <div class="section-header section-header--p-0">
            <div class="icon-line"></div>

            <div class="section-text centered">
                <h3>Preguntas frecuentes</h3>
                <p>Encuentra respuestas a las preguntas más frecuentes sobre nuestras soluciones.</p>
            </div>
        </div>
        <div class="section-grid centered">
            <div class="faq-columns">
                <div class="faq-column">
                    <details>
                    <summary>¿Qué servicios ofrece TECHCENTER?</summary>
                    <p>TECHCENTER ofrece una amplia gama de servicios enfocados en la transformación digital y la innovación mediante la tecnología Microsoft Cloud. Nuestros servicios incluyen consultoría de transformación digital, implementación de soluciones de Microsoft Cloud, desarrollo de aplicaciones empresariales, optimización de infraestructura en la nube, y soporte continuo para asegurar el éxito de tu negocio.</p>
                    </details>

                    <details>
                    <summary>¿Cómo puede TECHCENTER ayudar a mi empresa a transformarse digitalmente?</summary>
                    <p>En TECHCENTER, trabajamos contigo para desarrollar una estrategia de transformación digital personalizada que optimice tus procesos y mejore la experiencia del cliente. Utilizamos tecnologías avanzadas de Microsoft Cloud para implementar soluciones que aumenten la eficiencia operativa, reduzcan costos y fomenten la innovación. Nuestro enfoque integral asegura que cada aspecto de tu negocio se beneficie de la transformación digital.</p>
                    </details>
                </div>

                <div class="faq-column">
                    <details>
                    <summary>¿Qué beneficios ofrece la implementación de soluciones de Microsoft Cloud?</summary>
                    <p>La implementación de soluciones de Microsoft Cloud ofrece numerosos beneficios, incluyendo escalabilidad, seguridad avanzada, y acceso a herramientas de colaboración y análisis de datos. Estas soluciones permiten a tu empresa operar de manera más eficiente, proteger datos sensibles y tomar decisiones informadas. Además, la flexibilidad de Microsoft Cloud facilita la adaptación a las necesidades cambiantes del negocio.</p>
                    </details>

                    <details>
                    <summary>¿Cómo asegura TECHCENTER la calidad y efectividad de sus servicios?</summary>
                    <p>En TECHCENTER, nos comprometemos a ofrecer servicios de alta calidad mediante un enfoque basado en las mejores prácticas y estándares de la industria. Nuestro equipo de expertos cuenta con certificaciones y experiencia en tecnologías Microsoft, lo que nos permite diseñar e implementar soluciones efectivas. Además, monitoreamos continuamente el progreso de los proyectos y ajustamos las estrategias según sea necesario para asegurar el éxito.</p>
                    </details>

                    <details>
                    <summary>¿Qué industrias pueden beneficiarse de los servicios de TECHCENTER?</summary>
                    <p>Los servicios de TECHCENTER son beneficiosos para una amplia variedad de industrias, incluyendo salud, finanzas, manufactura, retail y más. Cada industria enfrenta desafíos únicos, y nuestras soluciones personalizadas están diseñadas para abordar las necesidades específicas de cada sector, ayudando a las empresas a innovar y crecer en un entorno competitivo.</p>
                    </details>
                </div>
            </div>
        </div>
    </section>
</div>
 <app-footer></app-footer>
